name: discer

backend:
  name: github
  repo: lsolesen/discer-dk-jekyll
  branch: master # Branch to update (optional; defaults to master)
  api_root: https://api.github.com
  site_domain: discer.netlify.app
  base_url: https://api.netlify.com
  auth_endpoint: auth
  cms_label_prefix: netlify-cms/
  open_authoring: true
  squash_merges: true

media_folder: "assets/images/uploads" # Media files will be stored in the repo under images/uploads

site_url: https://www.discer.dk
display_url: https://www.discer.dk
logo_url: https://www.discer.dk/android-chrome-192x192.png

show_preview_links: true

editor:
  preview: false

publish_mode: editorial_workflow

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"

collections:
  - name: "posts" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "_posts/" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    preview_path: "{{permalink}}"
#    view_filters:
#      - label: "Jesper Emil Jakobsgaard"
#        field: author
#        pattern: "jesper.emil.jakobsgaard"
#      - label: "Jakob Nielsson"
#        field: author
#        pattern: "jakob.nielsson"
#      - label: "Martin Madsen"
#        field: author
#        pattern: "martin.madsen"
    view_groups:
      - label: Year
        field: last_modified_at
        # groups items based on the value matched by the pattern
        pattern: \d{4}
    sortable_fields: ['title', 'author', 'last_updated_on', 'commit_date']
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "SEO Title", name: "seo_title", widget: "string", required: false}
      - {label: "Permalink", name: "permalink", widget: "string", required: false}
      - {label: "SEO Beskrivelse", name: "description", widget: "text",  required: false}
      - {label: "Excerpt", name: "excerpt", widget: "text",  required: false}
      - label: Header
        name: header
        widget: object
        collapsed: true
        required: false
        fields:
          - {label: "Overlay Image", name: "overlay_image", widget: "string", required: false}
          - {label: "Teaser Image", name: "teaser", widget: "string", required: false}
          - {label: "Caption", name: "caption", widget: "string", required: false}
          - label: Actions
            name: actions
            widget: list
            collapsed: true
            required: false
            fields:
              - {label: "Label", name: "label", widget: "string"}
              - {label: "Url", name: "url", widget: "string"}
      - {label: "Category", name: "category", widget: "list", allow_add: true}
      - {label: "Tags", name: "tags", widget: "list", allow_add: true}
      - {label: "Body", name: "body", widget: "markdown"}
      - label: Feature row
        name: feature_row
        widget: list
        collapsed: true
        required: false
        fields:
          - {label: "Title", name: "title", widget: "string", required: false}
          - {label: "Image", name: "image_path", widget: "string", required: false}
          - {label: "Alt", name: "alt", widget: "string", required: false}
          - {label: "Exerpt", name: "excerpt", widget: "text", required: false}
          - {label: "Url", name: "url", widget: "string", required: false}
          - {label: "Btn label", name: "btn_label", widget: "string"}
          - {label: "Btn class", name: "btn_class", widget: "select", options: ["", "btn--success", "btn--warning", "btn--danger", "btn--info"], default: "btn--success", required: false}
      - label: Gallery
        name: gallery
        widget: list
        collapsed: true
        required: false
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Alt", name: "alt", widget: "string"}
          - {label: "Image", name: "image_path", widget: "string"}
          - {label: "Url", name: "url", widget: "string", required: false}
      - {label: "Last modified at", name: "last_modified_at", widget: "datetime", format: "YYYY-MM-DDThh:mm:ssZ", dateFormat: "DD-MM-YYYY", timeFormat: "HH:mm", required: false}
  - name: "pages" # Used in routes, e.g., /admin/collections/blog
    label: "Sider" # Used in the UI
    label_singular: "Side"
    folder: "_pages/" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    view_groups:
      - label: Year
        field: last_modified_at
        # groups items based on the value matched by the pattern
        pattern: \d{4}
    sortable_fields: ['title', 'author', 'last_updated_on', 'commit_date']
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "SEO Title", name: "seo_title", widget: "string", required: false}
      - {label: "Permalink", name: "permalink", widget: "string", required: false}
      - {label: "SEO Beskrivelse", name: "description", widget: "text",  required: false}
      - {label: "Excerpt", name: "excerpt", widget: "text",  required: false}
      - label: Header
        name: header
        widget: object
        collapsed: true
        required: false
        fields:
          - {label: "Overlay Image", name: "overlay_image", widget: "string", required: false}
          - {label: "Teaser Image", name: "teaser", widget: "string", required: false}
          - {label: "Caption", name: "caption", widget: "string", required: false}
          - label: Actions
            name: actions
            widget: list
            collapsed: true
            required: false
            fields:
              - {label: "Label", name: "label", widget: "string", required: false}
              - {label: "Url", name: "url", widget: "string", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - label: Feature row
        name: feature_row
        widget: list
        collapsed: true
        required: false
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Image", name: "image_path", widget: "string"}
          - {label: "Alt", name: "alt", widget: "string"}
          - {label: "Exerpt", name: "excerpt", widget: "text"}
          - {label: "Url", name: "url", widget: "string"}
          - {label: "Btn label", name: "btn_label", widget: "string"}
          - {label: "Btn class", name: "btn_class", widget: "select", options: ["", "btn--success", "btn--warning", "btn--danger", "btn--info"], default: ""}
      - label: Gallery
        name: gallery
        widget: list
        collapsed: true
        required: false
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Alt", name: "alt", widget: "string"}
          - {label: "Image", name: "image_path", widget: "string"}
          - {label: "Url", name: "url", widget: "string", required: false}
      - {label: "Last modified at", name: "last_modified_at", widget: "datetime", format: "YYYY-MM-DDThh:mm:ssZ", dateFormat: "DD-MM-YYYY", timeFormat: "HH:mm", required: false}
  - name: "drafts" # Used in routes, e.g., /admin/collections/blog
    label: "Kladder" # Used in the UI
    label_singular: "Kladde"
    folder: "_drafts/" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    sortable_fields: ['title', 'author', 'last_updated_on', 'commit_date']
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "SEO Title", name: "seo_title", widget: "string", required: false}
      - {label: "SEO Beskrivelse", name: "description", widget: "text",  required: false, collapsed: true}
      - {label: "Excerpt", name: "excerpt", widget: "text",  required: false, collapsed: true}
      - label: Header
        name: header
        widget: object
        collapsed: true
        required: false
        fields:
          - {label: "Overlay Image", name: "overlay_image", widget: "string", required: false}
          - {label: "Teaser Image", name: "teaser", widget: "string", required: false}
          - {label: "Caption", name: "caption", widget: "string", required: false}
          - label: Actions
            name: actions
            widget: list
            collapsed: true
            required: false
            fields:
              - {label: "Label", name: "label", widget: "string", required: false}
              - {label: "Url", name: "url", widget: "string", required: false}
      - {label: "Category", name: "category", widget: "list", allow_add: true}
      - {label: "Tags", name: "tags", widget: "list", allow_add: true}
      - {label: "Body", name: "body", widget: "markdown"}
      - label: Feature row
        name: feature_row
        widget: list
        collapsed: true
        required: false
        fields:
          - {label: "Title", name: "title", widget: "string", required: false}
          - {label: "Image", name: "image_path", widget: "string", required: false}
          - {label: "Alt", name: "alt", widget: "string", required: false}
          - {label: "Exerpt", name: "excerpt", widget: "text", required: false}
          - {label: "Url", name: "url", widget: "string", required: false}
          - {label: "Btn label", name: "btn_label", widget: "string", required: false}
          - {label: "Btn class", name: "btn_class", widget: "select", options: ["", "btn--success", "btn--warning", "btn--danger", "btn--info"], default: ""}
      - label: Gallery
        name: gallery
        widget: list
        collapsed: true
        required: false
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Alt", name: "alt", widget: "string"}
          - {label: "Image", name: "image_path", widget: "string"}
          - {label: "Url", name: "url", widget: "string", required: false}
      - {label: "Last modified at", name: "last_modified_at", widget: "datetime", format: "YYYY-MM-DDThh:mm:ssZ", dateFormat: "DD-MM-YYYY", timeFormat: "HH:mm", required: false}
  - label: "Front page"
    name: "frontpage"
    editor:
      preview: false
    files:
      - label: "Forsiden"
        name: "index"
        file: "index.html"
        fields: # The fields for each document, usually in front matter
          - {label: "Title", name: "title", widget: "string"}
          - {label: "SEO Title", name: "seo_title", widget: "string", required: false}
          - {label: "Permalink", name: "permalink", widget: "string", required: false}
          - {label: "SEO Beskrivelse", name: "description", widget: "text",  required: false}
          - {label: "Excerpt", name: "excerpt", widget: "text",  required: false}
          - {label: "Layout", name: "layout", widget: "select", options: ["splash"], default: "splash"}
          - label: Header
            name: header
            widget: object
            collapsed: true
            required: false
            fields:
              - {label: "Image", name: "image", widget: "string", required: false}
              - {label: "Overlay Image", name: "overlay_image", widget: "string", required: false}
              - {label: "Teaser Image", name: "teaser", widget: "string", required: false}
              - {label: "Caption", name: "caption", widget: "string", required: false}
              - label: Actions
                name: actions
                widget: list
                collapsed: true
                required: false
                fields:
                  - {label: "Label", name: "label", widget: "string", required: false}
                  - {label: "Url", name: "url", widget: "string", required: false}
              - label: Video
                name: video
                widget: object
                collapsed: true
                required: false
                fields:
                  - {label: "Provider", name: "provider", widget: "select", options: ["youtube", "google-drive"], default: "", required: false}
                  - {label: "ID", name: "id", widget: "string", required: false}
          - {label: "Body", name: "body", widget: "markdown"}
          - label: Intro
            name: intro
            widget: list
            collapsed: true
            required: false
            fields:
              - {label: "Exerpt", name: "excerpt", widget: "text", required: false}
          - label: Blog link
            name: blog_link
            widget: list
            collapsed: true
            required: false
            fields:
              - {label: "Exerpt", name: "excerpt", widget: "text", required: false}
          - label: Feature row content rows
            name: feature_row_content
            widget: list
            collapsed: true
            required: false
            fields:
              - {label: "Title", name: "title", widget: "string", required: false}
              - {label: "Image", name: "image_path", widget: "string", required: false}
              - {label: "Alt", name: "alt", widget: "string", required: false}
              - {label: "Exerpt", name: "excerpt", widget: "text", required: false}
              - {label: "Url", name: "url", widget: "string", required: false}
              - {label: "Btn label", name: "btn_label", widget: "string", required: false}
              - {label: "Btn class", name: "btn_class", widget: "select", options: ["", "btn--success", "btn--warning", "btn--danger", "btn--info"], default: "", required: false}
          - label: Feature row
            name: feature_row
            widget: list
            collapsed: true
            required: false
            fields:
              - {label: "Title", name: "title", widget: "string", required: false}
              - {label: "Image", name: "image_path", widget: "string", required: false}
              - {label: "Alt", name: "alt", widget: "string", required: false}
              - {label: "Exerpt", name: "excerpt", widget: "text", required: false}
              - {label: "Url", name: "url", widget: "string", required: false}
              - {label: "Btn label", name: "btn_label", widget: "string", required: false}
              - {label: "Btn class", name: "btn_class", widget: "select", options: ["", "btn--success", "btn--warning", "btn--danger", "btn--info"], default: "", required: false}
          - label: Gallery
            name: gallery
            widget: list
            collapsed: true
            required: false
            fields:
              - {label: "Title", name: "title", widget: "string", required: false}
              - {label: "Alt", name: "alt", widget: "string", required: false}
              - {label: "Image", name: "image_path", widget: "string", required: false}
              - {label: "Url", name: "url", widget: "string", required: false}
          - {label: "Last modified at", name: "last_modified_at", widget: "datetime", format: "YYYY-MM-DDThh:mm:ssZ", dateFormat: "DD-MM-YYYY", timeFormat: "HH:mm", required: false}
  - label: "Navigation"
    name: "navigation"
    editor:
      preview: false
    files:
      - label: "Navigation Menu"
        name: nav
        file: "_data/navigation.yml"
        fields:
          - label: "Nav Items"
            label_singular: "Nav Item"
            name: main
            widget: list
            fields:
              - {label: "Display Text", name: title, widget: string}
              - {label: URL, name: url, widget: string}
          - label: "Sidelinks"
            label_singular: "Sidelink"
            name: blog
            widget: list
            fields:
              - {label: "Display Text", name: title, widget: string}
              - {label: "URL", name: url, widget: string, required: false}
              - label: "Links"
                name: children
                widget: list
                fields:
                  - {label: "Display Text", name: title, widget: string}
                  - {label: "URL", name: url, widget: string, required: false}
